<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="Graham Cox Online Writing." name="description" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="Graham Cox - Atom" href="/atom.xml" />
    <title>Graham Cox &mdash; {{ page.title }}</title>
  </head>
  <body>
    <header>
<div 
      <h1 id="site">
        <a href="/about.html" title="About">Graham Cox</a>
	</h1>
<h2 id="home">
  <a href="/" title="Home">This is a simple site for my writing.</a>
      </h2>
      <h3 id="site">
        <a href="/other.html">With some links to other work.</a>
      </h3>

    </header>
    <div id="site">
      {{ content }}
      <footer id="footer">
        <a href="/" title="Home">Home</a> &bull;
        <a href="/about.html" title="About the author and site">About</a> &bull;
        <a href="/books_talks.html" title="Talks">Talks and Stuff</a>
      </footer>
    </div>
  </body>
</html>
